- if tasks.empty?
  %span.text-warning There are no tasks!
- else
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Title
        %th Days Elapsed
        %th Priority
        %th # Reported
        %th Type
        - unless @kiosk_mode
          %th Completed
          %th Actions
    %tbody
      - tasks.each do |task|
        %tr{id: task.id, class:"#{task.late? ? 'late-task' : ''}"}
          %td
            %strong
              - unless task.url.blank?
                = link_to task.title, task.url
              - else
                = task.title
          %td.text= task.days_elapsed_since_creation
          %td.text= readable_priority(task)
          %td.text
            %span{id: "#{task.id}-inc"}
              = task.reported_count
            - unless @kiosk_mode
              = link_to inc_task_path(task), remote: true do
                %i.icon-plus
          %td.text= readable_bug_type(task)
          - unless @kiosk_mode
            %td.text-success= task.completed
            %td
              = link_to edit_task_path(task), remote: true do
                %i.icon-edit
              = link_to task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete task #{task.title}?"} do
                %i.icon-remove
