!!!
%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row-fluid
  .span10.offset1
    .hero-unit.text-center
      %h1
        Jamies Bug Backlog
      %p
        Here are bugs that you should be fixing
      = link_to 'New Bug', new_task_path,  class:  'btn btn-primary', remote: true     
    = yield
     